* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}
main {
  min-height: 70vh;
}
.navbar-nav {
  margin-left: auto;
}
.fa-star,
.fa-star-half-alt {
  color: rgb(223, 223, 130);
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h1 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}
h3 {
  padding: 1rem 0;
}
